<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="mbsa.toolchain.design.Activator"
               id="mbsa.toolchain.design"
	       name="toolchain">
    </component>
  </extension>
  <extension
        point="org.eclipse.sirius.externalJavaAction">
     <javaActions
           actionClass="mbsa.toolchain.design.SimulateAction"
           id="mbsa.toolchain.design.simulateAction">
     </javaActions>
     <javaActions
           actionClass="mbsa.toolchain.design.BrowseRequirementAction"
           id="mbsa.toolchain.design.browse.requirement.action">
     </javaActions>
     <javaActions
           actionClass="mbsa.toolchain.design.GoToRequirementAction"
           id="mbsa.toolchain.design.goto.requirement">
     </javaActions>
     <javaActions
           actionClass="mbsa.toolchain.design.BrowseHazardAction"
           id="mbsa.toolchain.design.browse.hazard">
     </javaActions>
     <javaActions
           actionClass="mbsa.toolchain.design.BrowseFileAction"
           id="mbsa.toolchain.design.browse.file.action">
     </javaActions>
     <javaActions
           actionClass="mbsa.toolchain.design.BrowseMetadataAction"
           id="mbsa.toolchain.design.browse.metadata.action">
     </javaActions>
     <javaActions
           actionClass="mbsa.toolchain.design.PerformQueryAction"
           id="mbsa.toolchain.design.perform.query.action">
     </javaActions>
     <javaActions
           actionClass="mbsa.toolchain.design.ClearQueryResultAction"
           id="mbsa.toolchain.design.clear.result.action">
     </javaActions>
     <javaActions
           actionClass="mbsa.toolchain.design.CalculateComponentSILAction"
           id="mbsa.toolchain.design.calculate.component.sil">
     </javaActions>
     <javaActions
           actionClass="mbsa.toolchain.design.GoToHazardAction"
           id="mbsa.toolchain.design.goto.hazard">
     </javaActions>
  </extension>
</plugin>
