<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>


   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated requirement -->
      <package
            uri="http://dlut.mbsa/requirement"
            class="requirement.Requirement_Package"
            genModel="metamodel/requirement.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mbsa -->
      <package
            uri="http://dlut.mbsa/mbsa"
            class="mbsa.MBSA_Package"
            genModel="metamodel/mbsa.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated standard -->
      <package
            uri="http://dlut.mbsa/hazard"
            class="hazard.Hazard_Package"
            genModel="metamodel/standard.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated component -->
      <package
            uri="http://dlut.mbsa/component"
            class="component.Component_Package"
            genModel="metamodel/component.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated component -->
      <package
            uri="http://dlut.mbsa/base"
            class="base.Base_Package"
            genModel="metamodel/component.genmodel"/>
   </extension>
</plugin>
