<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated component -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="component.presentation.Component_ModelWizardID"
            name="%_UI_Component_ModelWizard_label"
            class="component.presentation.Component_ModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/Component_ModelFile.gif">
         <description>%_UI_Component_ModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated component -->
      <editor
            id="component.presentation.Component_EditorID"
            name="%_UI_Component_Editor_label"
            icon="icons/full/obj16/Component_ModelFile.gif"
            extensions="component"
            class="component.presentation.Component_Editor"
            contributorClass="component.presentation.Component_ActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated mbsa -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="requirement.presentation.Requirement_ModelWizardID"
            name="%_UI_Requirement_ModelWizard_label"
            class="requirement.presentation.Requirement_ModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/Requirement_ModelFile.gif">
         <description>%_UI_Requirement_ModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated mbsa -->
      <editor
            id="requirement.presentation.Requirement_EditorID"
            name="%_UI_Requirement_Editor_label"
            icon="icons/full/obj16/Requirement_ModelFile.gif"
            extensions="requirement"
            class="requirement.presentation.Requirement_Editor"
            contributorClass="requirement.presentation.Requirement_ActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated hazard -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="hazard.presentation.Hazard_ModelWizardID"
            name="%_UI_Hazard_ModelWizard_label"
            class="hazard.presentation.Hazard_ModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/Hazard_ModelFile.gif">
         <description>%_UI_Hazard_ModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>


   <extension point="org.eclipse.ui.editors">
      <!-- @generated hazard -->
      <editor
            id="hazard.presentation.Hazard_EditorID"
            name="%_UI_Hazard_Editor_label"
            icon="icons/full/obj16/Hazard_ModelFile.gif"
            extensions="hazard"
            class="hazard.presentation.Hazard_Editor"
            contributorClass="hazard.presentation.Hazard_ActionBarContributor">
      </editor>
   </extension>
   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated mbsa -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="mbsa.presentation.MBSA_ModelWizardID"
            name="%_UI_MBSA_ModelWizard_label"
            class="mbsa.presentation.MBSA_ModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/MBSA_ModelFile.gif">
         <description>%_UI_MBSA_ModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>


   <extension point="org.eclipse.ui.editors">
      <!-- @generated mbsa -->
      <editor
            id="mbsa.presentation.MBSA_EditorID"
            name="%_UI_MBSA_Editor_label"
            icon="icons/full/obj16/MBSA_ModelFile.gif"
            extensions="mbsa"
            class="mbsa.presentation.MBSA_Editor"
            contributorClass="mbsa.presentation.MBSA_ActionBarContributor">
      </editor>
   </extension>
   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated component -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="base.presentation.Base_ModelWizardID"
            name="%_UI_Base_ModelWizard_label"
            class="base.presentation.Base_ModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/Base_ModelFile.gif">
         <description>%_UI_Base_ModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated component -->
      <editor
            id="base.presentation.Base_EditorID"
            name="%_UI_Base_Editor_label"
            icon="icons/full/obj16/Base_ModelFile.gif"
            extensions="base"
            class="base.presentation.Base_Editor"
            contributorClass="base.presentation.Base_ActionBarContributor">
      </editor>
   </extension>

</plugin>
